{%extends 'base.html'%}
{%load static%}
{%block headtag%}
<title>Homepage</title>
<style>
    .row-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top:20px
    }
    .card{
        
        background-color: #B4C3E4;
        padding:20px;
        margin-bottom:20px;
        border-radius:10px;
        box-shadow: 10px 10px 18px -10px rgba(0,0,0,0.75);

    }
    .card-title{
        color:#3d5a80;
        font-size:20px;
        font-weight: bold;
    }
    .card-subtitle{
        color:white;
        font-size: 14px;
    }
    .card-text{
        font-size:12px;
        
    }
    .icon{
        font-size:16px;
        
        color:#ee6c4d
    }
    .icon-text{
        font-style: normal;
        color:#293241;
        margin-right:10px;
        font-size:12px;
    }
    .dropdown{
        margin-right:20px;
        
    }
    .dropdown .btn{
        width:180px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:#293241;
        border:none
    }
    .dropdown .btn-primary{
        background-color: #cee5f7 !important;
    }
    .dropdown .dropdown-menu{
        width: 180px;
    }
</style>
{%endblock%}

{%block content%}
<h3 style='text-align: center;font-family:Poppins;'>Project repository recommendation</h3>
<div class='row-section'>
    <h5>Sort by</h5>
    <i style='margin-right: 20px;margin-left:10px' class='fa fa-sort'></i>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Stars
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Open issues
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Views
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Forks
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
</div>

<div class='row-section'>
    <div class='col-sm-4'>
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">By Card subtitle</h6>
              <h6 style='font-size:12px;' class="card-subtitle mb-2 text-muted">created at 10 jan 2000</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
                  <i class='fa fa-star icon'></i> <i class='icon-text'>12 stars</i>
                  <i class='fa fa-eye icon'> </i> <i class='icon-text'>12 views</i>
                  <i class='fa fa-code-fork icon'> </i> <i class='icon-text'>12 forks</i>
                  <i class='fa fa-bug icon'></i> <i class='icon-text'>12 open issues</i>
              </div>
              
              <div style="display: flex;flex-direction: row;margin-top:8px">
                  <p style='margin-right:10px;color:#E0FBFC;font-size:12px;'>languages used: </p>
                  <p style='font-size:12px;'>css,html,python</p>
              </div>
              <div style="display: flex;flex-direction: row">
                <p style='margin-right:10px;color:#E0FBFC;font-size:12px;'>Topics: </p>
                <p style='font-size:12px;'>css,html,python</p>
            </div>
              <a href="#" class="card-link">visit website</a>
             
            </div>
        </div>
        
    </div>
    <div class='col-sm-4'>
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        
    </div>
    <div class='col-sm-4'>
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        
    </div>
</div>
{%endblock%}
